/* ==========================================================================
   General
   ========================================================================== */

.snap-drawer {
    background: #3a3f42 url("../img/bg_dark.png") repeat-x;
}

.snap-content {
    background: #dfe2e2;
}

.icon--task {
    background: url("../img/task.png") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

/* ==========================================================================
   Navigation drawer
   ========================================================================== */

.nav {
    border-top: 1px solid #2f3234;
    border-bottom: 1px solid #5e6061;
    background-color: #444849;
}

.nav__header {
    padding: 4px 20px;
    margin: 0;
    font-size: 0.9em;
    font-weight: 400;
    background-color: #3b3e40;
    color: #868888;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
    border-top: solid 1px rgba(255,255,255,0.1);
    border-bottom: solid 1px rgba(255,255,255,0.05);
}

.nav__container {
    border-top: 1px solid #2f3234;
    color: #c6c8c8;
}

.nav__item {
    display: block;
    padding: 1.25rem;
    border-top: 1px solid #5e6061;
    border-bottom: 1px solid #2f3234;
    color: inherit;
    text-decoration: none;
}

.nav__item:first-child {
    border-top: 1px solid rgba(0,0,0,0.05);
}

.nav__item:active,
.nav__item.is-active {
    background-color: #404141;
    -webkit-box-shadow: inset 0 1px rgba(0,0,0,0.18);
    box-shadow: inset 0 1px rgba(0,0,0,0.18);
}

/* ==========================================================================
   Task List
   ========================================================================== */

.task-list__item__text {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 0 0.75rem;
}

/* ==========================================================================
   Settings
   ========================================================================== */

.settings .topcoat-list__item {
    overflow: hidden;
}

.settings .value {
    display: block;
    font-size: 14px;
}

.settings .btn {
    float: right;
}
