<div class="snap-drawers">
    <div class="snap-drawer snap-drawer-left navigation">
        <div class="topcoat-dark-list__container">
            <div class="topcoat-dark-list">
                <a href="#" class="topcoat-dark-list__item navigation__item is-active">Task List</a>
                <a href="#taskmap" class="topcoat-dark-list__item navigation__item">Task Map</a>
            </div>
            <h3 class="topcoat-dark-list__header">&nbsp;</h3>
            <div class="topcoat-dark-list">
                <a href="#settings" class="topcoat-dark-list__item navigation__item">Settings</a>
            </div>
        </div>
    </div>
</div>
<div class="appContent snap-content">
    <div class="topcoat-navigation-bar">
        <div class="topcoat-navigation-bar__item left quarter">
            <a id="open-menu-stack" class="topcoat-icon-button--quiet">
                <span class="topcoat-icon topcoat-icon--menu-stack"></span>
            </a>
        </div>
        <div class="topcoat-navigation-bar__item center half">
            <h1 class="navBarTitle topcoat-navigation-bar__title"></h1>
        </div>
    </div>
</div>
