<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item left quarter">
        <a id="open-nav" class="topcoat-icon-button--quiet">
            <span class="topcoat-icon topcoat-icon--menu-stack"></span>
        </a>
    </div>
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="navBarTitle topcoat-navigation-bar__title">Settings</h1>
    </div>
</div>
<div class="settings topcoat-list">
    <h3 class="topcoat-list__header">Settings</h3>
    <ul class="topcoat-list__container">
        {{#each settings}}
        <li class="topcoat-list__item field" data-field-name="{{ name }}">
            <button class="btn topcoat-icon-button">
                <span class="topcoat-icon" style="background-color:#A5A7A7;"></span>
            </button>
            <label>{{ label }}</label>
            <span class="value">{{ value }}</span>
        </li>
        {{/each}}
    </ul>
</div>
