<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item left quarter">
        <a id="open-nav" class="topcoat-icon-button--quiet">
            <span class="topcoat-icon topcoat-icon--menu-stack"></span>
        </a>
    </div>
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="navBarTitle topcoat-navigation-bar__title">Task Map</h1>
    </div>
    <button id='getDirectionsButton' class="topcoat-button">
        Get Directions
    </button>
    <button id='completeTaskButton' class="topcoat-button">
        Complete Task
    </button>
</div>
<div id="map"></div>
